body{
    background-color: rgb(56,102,136);
    font-family: 'lato', sans-serif;
}


table, th, td {
    background-color: white;
    border: 1px solid black;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}



.hidden {
    display: none;
}

.nothidden {
    color: white; 
    display: table-cell;
    vertical-align: middle;
}
.nothidden input {
    width: 50vw;
    /* border-radius:15px; */
    
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	
}

.container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

.nothidden label {
    display: block !important;
    margin: 10px 0 10px 0 !important;
    padding-right: 0 !important;
    text-align: left;
}
.nothidden button {
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: 10px;
}
.nothidden select {
    background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
    color:black;
    padding: 2px;
    width: 50vw;
    border-radius: 15px;
    border:1px solid #d6bcd6;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    outline: none;
}


button {
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed; 
    
}

button:hover {
    background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.text {
    text-align: center;
    color: white;
}

.newBook{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

button.th-button {
    background: transparent !important;
    color: red; /* Text color */
    text-shadow: none;
    box-shadow: none;
    display: block;
    margin: auto;
    border: 2px solid #386688 !important; /* Border thickness, line style, and color */
    padding: 10px;
    border-radius: 5px !important; /* Adds curve to border corners */
 
    text-transform: uppercase !important; /* Make letters uppercase */
}
